<script id="new-share-template" type="text/html">
<form accept-charset="UTF-8" action="/shares" class="new_share" id="new_share" method="post">
    <div class="field">
      <label for="share_content">Content</label><br>
      <input id="share_content" name="share[content]" type="text">
    </div>
    <div class="field">
      <label for="share_category_id">Category</label><br>
      <input id="share_category_id" name="share[category_id]" type="text">
    </div>
    <a href="javascript:void(0);" onClick="return Share.submitFrom('new_share')">dianji</a>
</form>
</script>

<script id="article-template" type="text/html">
  <div class="post article" id="<?=id ?>">
      <p>
        <span class="tooltips new"></span>
        <a href="/love/21093699" class="fmllink"><?=content?></a>
      </p>
      <div class="date">
        <div class="left_part">
          <a href="">#210934488</a>
          <br>
          <span class="dyn-comments">60 评论</span>
        </div>
        <div class="right_part">
          <p>
            <span class="dyn-vote-j" id="voteidnumber">
              <a href="javascript:;">赞~</a>
              (
              <span class="dyn-vote-j-data">100</span>
              ) -
            </span>
            <span class="dyn-vote-t" id="votebfidnumber">
              <a href="javascript:;" class="bf">你活该~</a>
              (
              <span class="dyn-vote-t-data">1239</span>
              )
            </span>
          </p>
          <p>
            <%= semantic_icon('add') %> 2014/03/22 at 3:01pm -
            <a href="/love" class="liencat">love</a>
            - by Anonymous
            <a href="/gender/woman" class="light"><%= semantic_icon('male') %></a>-
            <a href="/contry/Canada" class="liencat">Canada</a>
            (
            <a href="/region/Ontario" class="light">Ontario</a>
            )
          </p>
        </div>
      </div>
      <div class="comment-link" data-switch="false">评论</div>
      <div class="article-like" id="more-idnumber" style="display:none;">
        <%= semantic_icon('empty star') %>
      </div>
      <div class="comment-content" style="display:none;"></div>
    </div>
</script>

<script id="sign-in-template" type="text/html">
    <form accept-charset="UTF-8" action="/users/sign_in" class="new_user" data-remote="true" id="new_user" method="post">
        <div><label for="user_username">Username</label><br>
        <input id="user_username" name="user[username]" type="text"></div>

        <div><label for="user_password">Password</label><br>
        <input autocomplete="off" id="user_password" name="user[password]" type="password"></div>

        <div><input name="user[remember_me]" type="hidden" value="0"><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"> <label for="user_remember_me">Remember me</label></div>

        <div><input name="commit" type="submit" value="Sign in"></div>
    </form>
</script>

<script id="sign-up-template" type="text/html">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>

      <div><%= f.label :username %><br />
      <%= f.text_field :username %></div>

      <div><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %></div>

      <div><%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %></div>

      <div><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

      <div><%= f.submit "Sign up" %></div>
    <% end %>
</script>

<script id="sign-success-template" type="text/html">
    <%= link_to "退出", destroy_user_session_path, class: "sign-out-link", method: :delete, remote: true %>
</script>

<script id="sign-out-success-template" type="text/html">
    <%= link_to "登录", new_user_session_path, class:"ui orange button sign-in-link" %>
    <%= link_to "注册", new_user_registration_path, class:"ui orange button sign-up-link" %>
</script>
