<script id="new-share-template" type="text/html">
  <div id="new_share" class="ui form" style="position: absolute;">
      <div class="ui grouped inline segment fields-category">
          <% @categories.each do |category| %>
            <div class="field-category">
                <div class="ui radio checkbox">
                    <%= radio_button_tag "share[category_id]", category.id %>
                    <%= label_tag "share[category_id]", category.name %>
                </div>
            </div>
          <% end %>
          <div class="field">
            <%= text_area_tag "share[content]", nil, id: "share_content" %>
          </div>
          <div class="field" style="float:left">
            <%= link_to "提交", "javascript:void(0);", "onclick" =>  "return Share.submitFrom('new_share')", class: "ui secondary button" %>
          </div>
          <div class="number-check">0</div>
      </div>
  </div>
</script>

<script id="article-template" type="text/html">
  <div class="post article" data-share-id="<?=id ?>" data-favourited="<?=favourited.toString() ?>">
      <p>
        <span class="tooltips new"></span>
        <a href="/love/21093699" class="fmllink"><?=content?></a>
      </p>
      <div class="date">
        <div class="left_part">
          <a href="#<?=id ?>">#<?=id ?></a>
          <br>
          <div class="comment-link dyn-comments" data-switch="false"><?=comments_size ?> 评论</div>
        </div>
        <div class="right_part">
          <p>
            <span class="dyn-vote-j" id="voteidnumber">
              <?=#like_link_content ?>
              (
              <span class="dyn-vote-j-data"><?=like_count ?></span>
              ) -
            </span>
            <span class="dyn-vote-t" id="votebfidnumber">
              <?=#deserve_link_content ?>
              (
              <span class="dyn-vote-t-data"><?=deserve_count ?></span>
              )
            </span>
          </p>
          <p>
            <%= semantic_icon('add') %> <?=created_at ?> -
            <a href="/<?=category_name ?>" class="liencat category-name" data-id="<?=category_id ?>" data-type="alone"><?=category_name?></a>
            - by <?=username ?>
            <a href="/gender/woman" class="light"><%= semantic_icon('male') %></a>-
            <a href="/contry/Canada" class="liencat">Canada</a>
            (
            <a href="/region/Ontario" class="light">Ontario</a>
            )
          </p>
        </div>
      </div>
      <div class="article-like" id="more-idnumber" style="display:none;" data-share-id="<?=id?>">
        <%= semantic_icon('star') %>
      </div>
      <div class="comment-content" style="display:none;"></div>
    </div>
</script>

<script id="sign-in-template" type="text/html">
    <form accept-charset="UTF-8" action="/users/sign_in" class="new_user" data-remote="true" id="new_user" method="post">
      <div class="ui three column grid">
          <div class="column right floated">
              <div class="ui fluid form segment sign-in-pos-box">
                  <div class="close-button" onclick="return Share.closeButton()"><i class="large remove sign icon"></i></div>
                  <h3 class="ui header">登录今天我</h3>
                  <div class="field user-name">
                      <label>用户名</label>
                      <input id="user_username" placeholder="用户名" name="user[username]" type="text">
                  </div>
                  <div class="field password">
                      <label>密码</label>
                      <input id="user_password" name="user[password]" type="password">
                  </div>
                  <div><input class="ui blue submit button" name="commit" type="submit" value="登录"></div>
              </div>
          </div>
      </div>
    </form>
</script>

<script id="sign-up-template" type="text/html">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>

      <div class="ui three column grid">
          <div class="column right floated">
              <div class="ui fluid form segment sign-up-pos-box" style="z-index:1;">
                  <div class="close-button" onclick="return Share.closeButton()"><i class="large remove sign icon"></i></div>
                  <h3 class="ui header">注册今天我</h3>
                  <div class="field user-name">
                      <label>用户名</label>
                      <input id="user_username" placeholder="用户名" name="user[username]" type="text">
                  </div>
                  <div class="field user-email">
                      <label>Email</label>
                      <input id="user_email" placeholder="邮箱" name="user[email]" type="text">
                  </div>
                  <div class="field password">
                      <label>密码</label>
                      <input id="user_password" name="user[password]" type="password">
                  </div>
                  <div class="field password-confirm">
                      <label>确认密码</label>
                      <input id="user_password_confirmation" name="user[password_confirmation]" type="password">
                  </div>
                  <div><input class="ui blue submit button" name="commit" type="submit" value="注册"></div>
              </div>
          </div>
      </div>
    <% end %>
</script>

<script id="sign-success-template" type="text/html">
    <div class="ui left simple dropdown icon">
        <i class="settings icon"></i>
        <div class="menu">
            <div class="item" onclick="return Share.showUserInfo()"><i class="edit icon"></i>个人资料</div>
            <div class="item sign-out-link"><i class="delete icon"></i>退出</div>
        </div>
    </div>
</script>

<script id="sign-out-success-template" type="text/html">
    <%= link_to "登录", new_user_session_path, class:"ui orange button sign-in-link" %>
    <%= link_to "注册", new_user_registration_path, class:"ui orange button sign-up-link" %>
</script>

<script id="article-comment-template" type="text/html">
    <div class="item">
        <img class="ui avatar image" src="http://l.ruby-china.org/user/large_avatar/12172.jpg">
        <div class="content">
        <div class="header">Snickerdoodle</div>
            <?=content?>
        </div>
    </div>
</script>

<script id="notification-comment-template" type="text/html">
    <div class="list-content" data-notification-id="<?=id ?>">
        <div class="content" style="text-transform: none;"><?=send_user ?> 回复你</div>
        <div class="close-button" onclick="return Share.clearNotificationListCloseButton(this)"><i class="large remove sign icon"></i></div>
    </div>
</script>

<script id="notification-like-template" type="text/html">
    <div class="list-content" data-notification-id="<?=id ?>">
        <div class="content" style="text-transform: none;"><?=send_user ?> 点了赞</div>
        <div class="close-button" onclick="return Share.clearNotificationListCloseButton(this)"><i class="large remove sign icon"></i></div>
    </div>
</script>

<script id="notification-deserve-template" type="text/html">
    <div class="list-content" data-notification-id="<?=id ?>">
        <div class="content" style="text-transform: none;"><?=send_user ?> 点了你活该</div>
        <div class="close-button" onclick="return Share.clearNotificationListCloseButton(this)"><i class="large remove sign icon"></i></div>
    </div>
</script>

<script id="notification-empty-template" type="text/html">
    <div class="list-empty-content">
        <span>已经没有内容了</span>
    </div>
</script>
