<div id="background">
  <%= render 'layouts/topbar' %>
  <div id="operation"></div>
  <div class="mark"><h1>今天你发生了什么囧事<br> ？</h1></div>
  <div id="content">
    <div class="wrapper">
        <% @shares.each do |share| %>
            <div class="post article" data-share-id="<%= share.id %>" data-liked="<%= @favourite_users[share.id].to_s %>">
              <p>
                <span class="tooltips new"></span>
                <a href="/love/21093699" class="fmllink">今天是我们的第六次约会，那个汉子我很喜欢。他问我等我们约会完以后是不是愿意和他的朋友皮特见个面。我说当然啦～ 结果皮特是他的小丁丁。FML</a>
              </p>
              <div class="date">
                <div class="left_part">
                  <%= link_to "##{share.id}", "##{share.id}" %>
                  <br>
                  <div class="comment-link dyn-comments" data-switch="false"><%= share.comments.size %> 评论</div>
                </div>
                <div class="right_part">
                  <p>
                    <span class="dyn-vote-j" id="voteidnumber">
                      <a href="javascript:;" onclick="return Share.likeLink(this)">赞~</a>
                      (<span class="dyn-vote-j-data">100</span>) -
                    </span>
                    <span class="dyn-vote-t" id="votebfidnumber">
                      <a href="javascript:;" onclick="return Share.deserve(this)" class="bf">你活该~</a>
                      (<span class="dyn-vote-t-data">1239</span>)
                    </span>
                  </p>
                  <p>
                    <%= semantic_icon('add') %> <%= share.created_at.strftime("%Y/%m/%d at %H:%M %P") %> -
                    <a href="/love" class="liencat">love</a>
                    - by <%= share.user.username %>
                    <a href="/gender/woman" class="light"><%= semantic_icon('male') %></a>-
                    <a href="/contry/Canada" class="liencat">Canada</a>
                    (<a href="/region/Ontario" class="light">Ontario</a>)
                  </p>
                </div>
              </div>
              <div class="article-like" id="more-idnumber" style="display:none;" data-share-id="<%= share.id %>" >
                <%= semantic_icon('empty star') %>
              </div>
              <div class="comment-content" style="display:none;"></div>
            </div>
        <% end %>
    </div>
    <div class="dashboard">
      <div class="part">
        <div class="box" id="categories">
          <h4>类目</h4>
          <div class="ctlabel">
            <div class="ui mini labels">
              <%= content_tag :div, "全部", class: "ui small label sidebar-tag", "data-id" => 0, "data-type" => "all" %>
              <% @categories.each do |category| %>
                <%= content_tag :div, category.name, :class => "ui small label sidebar-tag", "data-id" => category.id, "data-type" => "alone" %>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>

  <%= render partial: 'share_index_template' %>
  </div>
</div>

