<div class="topbar">
  <div class="ui large menu">
    <%= link_to "今天,我" , root_path, class:"item" %>
    <div class="ui label notification-box" style="display:<%= user_signed_in? ? "inline-block": "none" %>;">
        <a href="javascript:void(0);" class="check-notification-link" data-switch="false" onclick="return Share.checkNotification(this)"><i class="mail icon"></i> <span class="message-count">23</span></a>
        <div class="notification-list">
            <div class="list-body"></div>
            <div class="list-foot" onclick="return Share.notificationListPackUp(this)">
                <span>收起</span>
            </div>
        </div>
    </div>
    <div class="right menu">
      <div class="item">
        <%= link_to new_share_path, class: "new-share-link", 'data-switch' => false do %>
        <i class="edit icon"></i>
        <% end %>
      </div>
      <div class="item">
        <div class="ui icon mini input width190">
          <input type="text" placeholder="搜索中...">
          <i class="search link icon"></i>
        </div>
      </div>
      <div class="ui simple dropdown item">
        类目 <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to "全部", "javascript:void(0);", class: "item nav-tag", "data-id" => 0, "data-type" => "all" %>
          <% @categories.each do |category| %>
            <%= link_to category.name, "javascript:void(0);", class: 'item nav-tag', "data-id" => category.id, "data-type" => "alone" %>
          <% end %>
        </div>
      </div>
      <%= show_username_helper %>
      <div class="item sign-status">
        <% if user_signed_in? %>
            <div class="ui left simple dropdown icon">
                <i class="settings icon"></i>
                <div class="menu">
                    <% if current_user.admin?  %>
                        <a href="/jtw/admin" target="_blank"><div class="item"><i class="grid layout icon"></i>后台</div></a>
                    <% end %>
                    <div class="item"><i class="edit icon"></i>编辑</div>
                    <div class="item sign-out-link"><i class="delete icon"></i>退出</div>
                </div>
            </div>
        <% else %>
            <%= link_to "登录", new_user_session_path, class:"ui orange button sign-in-link" %>
            <%= link_to "注册", new_user_registration_path, class:"ui orange button sign-up-link" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
