<div class="topbar">
  <div class="ui large menu">
    <a class="item">
      今天,我
    </a>
    <div class="ui label">
      <a href=""><i class="mail icon"></i> 23</a>
    </div>
    <div class="right menu">
      <div class="item">
        <%= link_to new_share_path, class: "new-share-link", 'data-switch' => false do %>
          <i class="edit icon"></i>
        <% end %>
      </div>
      <div class="item">
        <div class="ui icon mini input width190">
          <input type="text" placeholder="搜索中...">
          <i class="search link icon"></i>
        </div>
      </div>
      <div class="ui simple dropdown item">
        类目 <i class="dropdown icon"></i>
        <div class="menu">
          <% @categories.each do |category| %>
            <%= link_to category.name, "javascript:void(0);", class: 'item nav-tag', "data-id" => category.id %>
          <% end %>
        </div>
      </div>
      <div class="item sign-status">
        <% if user_signed_in? %>
          <%= link_to "退出", destroy_user_session_path, class: "sign-out-link", method: :delete %>
        <% else %>
          <%= link_to "登录", new_user_session_path, class:"ui orange button sign-in-link" %>
          <%= link_to "注册", new_user_registration_path, class:"ui orange button sign-up-link" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
