<!DOCTYPE html>
<html>
<head>
  <title>今天我:每天的生活小故事</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "960.css", :media => "screen and (min-width:768px)" %>
  <%= stylesheet_link_tag    "640.css", :media => "screen and (max-width:960px)" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
